<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container body-content">
        <h1>Task Management</h1>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SODING: INDIVIDUAL ASSIGNMENT</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
